<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="iworks-feed" value="https://pkgs.dev.azure.com/iworks-dev/nuget/_packaging/iworks-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyFeed>
      <add key="Username" value="fenner@integrationworks.de" />
      <add key="ClearTextPassword" value="5leffoh7ot53fzph2ablkul57ptaehgsufgeeja2sodd33zcodqa" />
    </MyFeed>
  </packageSourceCredentials>
</configuration>
